
#aboutus h2
{
    text-align: center;
    color:blue;
    font-family:monospace;
    text-decoration: underline blue;
    text-underline-offset: 10px;
}

#aboutus img{
    border-radius: 50%;
    /* height: 400px;
    width: 380px; */
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}

